.container{
    width:100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
    .logoImage{
        margin-right: 80px;
    }
    
  }

 
  /* logo en mobile*/
.logoLink--img-logo-mobile{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:auto;
}
.imageElement--footer__image_payment{
    padding: 23px;
    border-top: 3px solid #5196e9;
}