.styledLinkContent{
    justify-content:flex-start;
    width:auto;
}

    
/* .styledLinkContainer:hover{
    background-color: rgb(46, 185, 214);
} */
 .styledLinkContent{
    font-style:Dosis, sans-serif;;
    font-weight: 800;
    font-size: 16px;
}
.styledLinkContainer:hover{
    background-color:rgb(46, 185, 214);
} 
.styledLinkContent:hover{
    color:white;
}
