.container{
    width:100%;
}
@media (min-width: 481px) and (max-width: 767px) {
  
    .logoImage{
        margin-right: 80px;
    }
    
  }

 
  /* logo en mobile*/
.logoLink--img-logo-mobile{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:auto;
}
.imageElement--footer__image_payment{
    padding: 23px;
    border-top: 3px solid #5196e9;
}
@media all and (min-width: 480px) and (max-width: 768px) { 
.imageElement--img-category1,.imageElement--img-col-category1,.imageElement--img-col-category2,.imageElement--img-ofertas1{
    max-width: 150px;
}


}
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .imageElement--img-category1,.imageElement--img-col-category1,.imageElement--img-col-category2,.imageElement--img-ofertas1{
        max-width: 150px;
    }

 } 
 
@media screen and  (min-width:1000px) and (max-width:1189px) {

    .imageElement--img-category1,.imageElement--img-col-category1,.imageElement--img-col-category2,.imageElement--img-ofertas1{
        max-width: 200px !important;
    }
    
}
/* @media only screen and (max-width: 768px) and (orientation : portrait) {
	
    .imageElement--img-category1,.imageElement--img-col-category1,.imageElement--img-col-category2,.imageElement--img-ofertas1{
        max-width: 150px;
    }



} */
.imageElement--img1-pelos-spa{
    border: 6px solid;
    border-color: #FF8000;
    border-radius: 146px;
   
}
.imageElement--img2-pelos-spa{
    border: 6px solid;
    border-color: #ffd500;
    border-radius: 146px;
}
.imageElement--img3-pelos-spa{
    border: 6px solid;
    border-color: #0800ff;
    border-radius: 146px;
}
.imageElement--img4-pelos-spa{
    border: 6px solid;
    border-color: #FF8000;
    border-radius: 146px;
   
}
.imageElement--img5-pelos-spa{
    border: 6px solid;
    border-color: #0800ff;
    border-radius: 146px;
}
.container{
    padding-inline: 0;
}
.productImageTag--main{
    width: 80%;
}
.productNameContainer{
    margin-left: 28px;
}
.price_className{
    margin-left: 23px;
}