.styledLinkContent{
    justify-content:flex-start;
    width:auto;
}

.styledLinkContent{
    font-style:sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.accordionIcon--item-drawer{
    visibility: hidden;
}
.accordionIcon--item-drawer::after{
    content: url("assets/img/arrow_32.png");
    visibility:visible;
    background-color: rgb(239, 233, 233);
}
.styledLinkContent--item-drawer{
    display: flex;
    justify-content: space-between; 
}
.menuItem--item-drawer{
    border-bottom: inset;
}
.menuItem--footer__menu-item{
    padding-bottom: 1rem;
}
.menuContainer--menu-footer-redes .styledLinkContainer, .styledLinkContainer--footer__menu-item{
	margin-left: 0 !important;
}
.menuContainerNav--menu-footer-redes{
    margin-left: 20px;
}

