.styledLinkContent{
    justify-content:flex-start;
    width:auto;
}

    
/* .styledLinkContainer:hover{
    background-color: rgb(46, 185, 214);
} */
 .styledLinkContent{
    font-style:sans-serif;
    font-weight: 800;
    font-size: 16px;
    /*color:#595656 ;*/
}
 .styledLinkContainer:hover{
    background-color:rgb(46, 185, 214);
} 
.styledLinkContent:hover{
    color:white;
} 

.styledLinkContainer--item-drawer{
    border-bottom-style:inset;
    /*padding:15px;*/
}
