.videoContainer--videoEl{
    aspect-ratio: 16/9;
margin-right: 120px;
margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 480px){
    .videoContainer--videoEl{
      margin-right: 30px;
    }
    }