.flexRow--col__info--header {
  background-color:rgb(60, 41, 124);
}
.flexCol--row-info-contacto{
  display: flex;
  flex-direction: row;
}
.flexCol--row-info-redes{
  display: flex;
  flex-direction: row;
}

.flexRow--home__section--spa{
  background-color:rgb(255, 194, 193) ;
}


.stretchChildrenWidth{
  display: flex;
  flex-direction: row;
  width: max-content;
}

.flexRowContent--home__section--one{
  background-color:#54CDEC;
  justify-content: stretch;
}

.flexColdChid{
  width: 100%;
}

.flexRowContent--flex-info2{
  margin-left: 150px;
}
.flexCol--category-one,.flexCol--category-two,.flexCol--category-three,.flexCol--category-four,.flexCol--category-five,.flexCol--category-six,.flexCol--category-seven,.flexCol--category-eight{
  display: flex;
  align-items: center;
}
.flexRow--primera-seccion-producto,.flexRow--segunda-seccion-producto{
  background-color: rgb(234, 234, 234);
}
@media (min-width: 768px) and (max-width: 1024px) {
.flexRow--primera-seccion-producto,.flexRow--segunda-seccion-producto{
  display: none;
}

 
}
.flexRow--primera-seccion-ofertas,.flexRow--segunda-seccion-ofertas,.flexRowContent--tercera-seccion-ofertas{
  background-color:rgb(185, 249, 229);
}

.flexRowContent--row-info-telefono,.flexRowContent--row-info-correo,.flexRowContent--row-info-horario{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:2rem;
}
.flexRowContent--row-info-instagram,.flexRowContent--row-info-facebook,.flexRowContent--row-info-whatsapp{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:2rem;
}
.flexCol--row-info-redes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 300px;
}
.flexRowContent--row-footer-global{
  display: flex;
  flex-direction: column;
}
.flexCol--footer-desktop-seccion-two{
  display: flex;
  flex-direction:row ;
}
.flexRowContent--row-footer-desktop{
  display: flex;
  flex-direction: column;
}
.flexColChild--col-footer-logo{
   display: flex;
    height: 100%;
    align-content: flex-start;
    justify-content: center;
}
.flexColChild--col1-section-two{
  height:auto !important;
  margin-top: 10px;
}
.flexRowContent--row-desktop-down{
  display: flex;
  flex-direction: column;
}
.flexRowContent--row-footer-desktop .stretchChildrenWidth{
  width: 100% !important;
}
 .flexRow--primera-seccion-top{
  width: 87%;
} 
.flexRowContent--container-footer-logo{
  display: flex;
    flex-direction: column;
}
.flexCol--col-slider-summary{
  background-color: #9addee;
}

@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 
      .flexRowContent--row-footer-desktop .stretchChildrenWidth{
        width: 100%;

    }
  }
  .flexColChild--col-slider-summary{
    padding: 30px;
  }
  .flexRowContent--footer-down-tablet{
    display: flex;
    flex-direction: column
  }
.flexRow--seccion-spa-bath{
   margin-bottom: 10px;
    height: auto;
    margin-top: 03px;
    background-color: rgb(243, 224, 255);
}
.flexColChild--img-spa-one,.flexColChild--img-spa-two,.flexRow--row-tablet-segunda{
  margin-top: 30px;
  margin-bottom: 20px;
}
.flexRow--Col-text-spa,.flexCol--img-spa-tablet,.flexCol--col-info-tablet{
  background-color: rgb(243, 224, 255);
  margin-top: 0px;
}
.flexCol--col-seccion-pelos{
  background-color: rgb(219, 255, 170);
}
.flexColChild--col-seccion-pelos{
  margin-bottom: 35px;
}
.flexRow--boton-plp-buy{
  width: 50%;
}
.flexCol--search__results--content{
 background-color: rgb(185, 249, 229);
}
