.sliderLayoutContainer--home_slider{
    max-width:1200px;
    margin: 0 auto;
}
.paginationDotsContainer--slider{
    transform:translateY(30px);
}

.sliderLayoutContainer--slider-desktop--products{
 width: 100%;
 height: 100%;
 margin:0;
}
