/* .fleRxowContent--home_section--one{
    background-color: blue;
} */
.flexColChild--section_one--image {
  max-width: 600px;
}

.headerRowContentContainer--header-layout1 {
  justify-content: space-around;
}
