.paragraph--section_one--title{
color: aliceblue;
}
.wrapper--title-products{
    text-align: center;
}
.headingLevel1--title-products,.paragraph--text-info-enredos{
    color:rgb(60, 41, 124);
   
}
.wrapper--text-email{
    color: white;
}

.paragraph--texto-tienda1,.paragraph--texto-tienda5{
    color:rgb(237, 78, 134);
    font-size: 34px;
    font-weight:700;
    font-family:Dosis, sans-serif;
    
}

.paragraph--texto-tienda2{
    color:#000000;
    font-size: 34px;
    font-weight:700;
    font-family:Dosis, sans-serif;

}
.paragraph--texto-tienda5{
    margin-top:0;
}

.paragraph--texto-tienda2{
    margin-top:0;
    margin-bottom:0;
}

.paragraph--texto-tienda1{
    margin-top: 100px;
    margin-bottom:0;
}

.container--flex__title{
    display: flex;
    justify-content: center;
}
.paragraph--text-categoria-home1{
    font-family: Barlow, sans-serif;
    font-size:13px;
color: rgb(138, 138, 138);
}
.paragraph--text-categoria-home2{
    font-family: sans-serif;
    font-weight: 600;
    size: 22px;
    color: #2eb9d6;
}
.paragraph--text-categoria-home3{
    font-family:Dosis, sans-serif; 
    font-weight: 600;
    size: 18px;
    color:#f3c404
}
.paragraph--video__title{
    color:#ed4e86;
    font-weight: 600;
    font-family: Dosis,sans-serif;
    font-size: 57px;
    margin-top: 50px;
}
.container--title-products{
    background-color: rgb(234, 234, 234);
}
.link--email__header{
    text-decoration: none;
    color: white;

}
/*rich-text header-top*/
.paragraph--telefono__header,.paragraph--horario__header,.paragraph--instagram__header,.paragraph--facebook__header,.paragraph--whatsapp__header{
    color:white;
}
.headingLevel1--title-categorias,.headingLevel1--title-ofertas{
    color:rgb(66, 48, 128);
    font-weight:600;
}
.container--title-ofertas{
    background-color:rgb(185, 249, 229);
  }
  .paragraph--category-store{
    font-size:18px;

  }
 .paragraph--text-info-spa{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16;
 }
 .paragraph--spa__title{
    font-weight: 400;
    font-size: 42;
    color:rgb(46, 185, 214)
 }
 
 .headingLevel1--title-categorias{
    font-size: 52;
    margin-left: 10px;
 }

.paragraph--text-footer-head{
    font-family: Dosis, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #3c297c;
}
.paragraph--text-one-footer{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.container--text-footer-copyright {
    height: 81px;
    background-color: rgb(60, 41, 124);
}
.wrapper--text-footer-correo{
    padding: 15px;
}
.paragraph--text-footer-copyright{
    color: white;
}
.paragraph--text-footer-epayco{
    font-weight: 300;
    font-family:sans-serif;
    font-size: 18px;
   
}
@media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) { 
        .wrapper--text-footer-correo{
            padding:0px;

    }
    }
    .wrapper--text-footer-head{
        border-bottom: 3px solid #00deff;
    }
    .paragraph--text-title-spa{
    color: #800080;
    }
    .paragraph--text-title-pelos{
        color:green;
    }
    .wrapper--text-opcion1{
    border-radius: 30px;
    padding: 20px;
    font-size: 34px;
    background-color: #00deff;;
}
.wrapper--text-opcion2{
    border-radius: 30px;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(199, 242, 130);
}
.wrapper--text-opcion3{
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(201, 159, 249);
    width: 280px;
    height: 280px;
}
.wrapper--text-opcion4{
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(252, 205, 143);
    width: 300px;
    height: 280px;
    font-size: 34px;
}
.paragraph--instagram-title{
    color: #3c297c;
}