

.flexColChild--section_one--image {
  max-width: 600px;
}

.stretchChildrenWidth{
  display: flex;
  flex-direction: row;
  width: max-content;
}
@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}
.flexRowContent--home__section--one{
  background-color:#54CDEC;
  justify-content: stretch;
}

.flexColdChid{
  width: 100%;
}

.flexRowContent--flex-info2{
  margin-left: 150px;
}
.flexCol--category-one,.flexCol--category-two,.flexCol--category-three,.flexCol--category-four,.flexCol--category-five,.flexCol--category-six,.flexCol--category-seven,.flexCol--category-eight{
  display: flex;
  align-items: center;
}
.flexRow--primera-seccion-producto,.flexRow--segunda-seccion-producto{
  background-color: rgb(234, 234, 234);
}
@media (min-width: 768px) and (max-width: 1024px) {
.flexRow--primera-seccion-producto,.flexRow--segunda-seccion-producto{
  display: none;
}
/* .flexRow--flex-logo-mobile{
display: flex;
align-items: center;
justify-content: center;

} */
 
}
.flexRow--primera-seccion-ofertas,.flexRow--segunda-seccion-ofertas,.flexRowContent--tercera-seccion-ofertas{
  background-color:rgb(185, 249, 229);
}

/* .flexRowContent--row-info-telefono,.flexRowContent--row-info-correo,.flexColChild--row-info-contacto{
  display:flex;
  justify-content:center;
  align-items:center;
} */
.flexRowContent--row-info-telefono,.flexRowContent--row-info-correo,.flexRowContent--row-info-horario{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:2rem;
}
.flexRowContent--row-info-instagram,.flexRowContent--row-info-facebook,.flexRowContent--row-info-whatsapp{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:2rem;
}
.flexCol--row-info-redes{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 330px;
}
.flexRowContent--row-footer-global{
  display: flex;
  flex-direction: column;
}