 .headerRowContainer--header-top{
    background-color:rgb(155, 129, 240);
}  

.headerRow--header-{
    background-color:rgb(136, 164, 249) ;
}
.headerRowContainer--header__middle{
    background-color: black;
}
